{% extends 'MyAppFilmothequeBundle:Default:layout.html.twig' %}

{% block content1 %}
<div class="card card-signup">
	<div class="header header-primary text-center">
		<h3>Liste des categories</h3>
	</div>


<table class="table">
{% for c in categories %}


	<tr>
		<td>{{ c.nom }}</td>
		<td><a href="{{ path('myapp_categorie_modifier', { 'id': c.id }) }}" >Modifier</a></td>
		<td><a href="{{ path('myapp_categorie_supprimer', { 'id': c.id }) }}" >Supprimer</a></td>
	</tr>
{% else %}
	<tr><td>Aucun film n'a été trouvé.</td></tr>

{% endfor %}
</table>
<p><a href="{{ path('myapp_categorie_ajouter') }}" class="btn btn-simple btn-primary btn-lg ">Ajouter une categorie</a><p>
</div>


</div>
{% endblock %}